body{
	margin: 0 0;
	width: 100%;
	padding-bottom: 0;
	margin-bottom: 0;
}
body *{
	box-sizing: border-box;
}
#wrapper
{
	max-width: 1440px;
	margin: auto;
	padding-left: 5%;
	padding-right: 5%;
	overflow: hidden;
}

/* ******DEBUT HEADER********* */
header
{
	display: grid;
	width: 100%;
	font-family: 'Raleway';
	grid-template-columns: 1fr 45%;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
	"logo group-nav-container"
	"head-title head-title" ;
}
.nav1{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	grid-area: logo;

}

.nav2{
	width: 75%;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	padding-right: 20px;
	padding-left: auto;
	grid-area: group-nav-container;
	display: inline-flex;
	justify-content: space-around;
	height: 100px;
	line-height: 100px;
}
.nav2 .registration a{
	font-family: 'Raleway',sans-serif;
	font-weight: 600;
	color: #0065FC;
	transition: all 0.2s ease-out;
}
.nav2 .registration a:hover,
.nav2 .registration a:focus{
	font-weight: 800;
}
.nav2 a{
	font-size: 0.9em;
	font-family: 'Raleway',sans-serif;
	font-weight: 400;
	text-decoration: none;
	color:black;
}

.nav2 .nav-mobile a{
	border-top: 2px solid #0065FC;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 500;
	padding-top: 40px;
}

.nav2 .nav-mobile a:visited{
	color: #0065FC;
}

.nav2 .nav-mobile-activite a:hover{
	border-top: 2px solid #0065FC;
	color: #0065FC;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 40px;
}
.nav-mobile-activite a{
	color: black;
	background-color:white;
	transition: all 0.5s ease-out;
}
  
  .nav-mobile-activite a:hover,
  .nav-mobile-activite a:focus {
	color: #333;
	background-color: #fff;
}

.nav2 .nav-mobile-activite a{
	color: black;
	margin-right: 30px;
}

#logo-reservia{
grid-area: logo;
grid-column: 1 / 2;
grid-row: 1 / 2;
width: 100px;
height: 100px;
line-height: 100px;
}

.head-title{
	grid-area: head-title;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	gap: 0%;
}
.head-title h1{
	font-size: 1.3em;
	font-family: 'Raleway',sans-serif;
	font-weight: 800;
	padding-bottom: 0;
	margin-bottom: 0;
}
.head-title h2{
	font-size: 1em;
	font-family: 'Raleway',sans-serif;
	font-weight: 400;
	padding-top: 0;
}

/* ****FIN HEADER****** */

/* ****DEBUT FILTRES****** */

.search_zone_contenair{
	width: 100%;
	display: grid;
	grid-template-columns: 60%;
	grid-template-rows: 1fr 1fr 1fr;
}
.search_bare{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
	
.barre_recherche{
	display: inline-flex;
	align-items:center;
	text-align: center;
	justify-content: flex-start;
	border: 1px solid #F2F2F2;
	height: 40px;
	border-radius: 10px 10px 10px 10px;
}

.budget{
	color:black;
	background-color: white;
	border:#F2F2F2 solid 2px;
	transition: all 1s ease-out;
}

.budget:hover,
.budget:focus{
	color:white;
	background-color:#0065FC;
	border:#0065FC solid 2px;
	font-weight:bold;
	cursor: pointer;
}
/*.budget:hover{
	color:white;
	background-color:#0065FC;
	border:#0065FC solid 2px;
	font-weight:bold;
	cursor: pointer;
}*/
.composition:hover,
.composition:focus{
	color:white;
	background-color:#0065FC;
	border:#0065FC solid 2px;
	font-weight: bold;
	cursor: pointer;
}
.ambiance:hover,
.ambiance:focus{
	color:white;
	background-color:#0065FC;
	border:#0065FC solid 2px;
	font-weight: bold;
	cursor: pointer;
}
.animaux:hover,
.animaux:focus{
	background-color:#0065FC;
	border:#0065FC solid 2px;
	color:white;
	font-weight: bold;
	cursor: pointer;
}
#bouton_filtres{
	background-color: #0065FC;
	color: white;
	font-weight: bold;
	margin-right: 5px;
}

i.fa-map-marker-alt{
	font-size: 0.9em;
	background-color: #F2F2F2;
	border: #F2F2F2 solid;
	border-radius: 8px 0 0 8px;
	width: 40px;
	height: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;		
}
input 
{
	text-align: center;
	font-family: 'Raleway',sans-serif;
	background-color: white;
	transition: all 1s ease-out;
	color: black;
	font-weight: 900;
	color: black;
	border-top:#F2F2F2 solid 1px;
	border-bottom: #F2F2F2 solid 1px;
	border-left: none;
	border-right: none;
	font-size: 1em;
	height: 40px;
	width: 180px;
}
input::placeholder{
	color: black;
	opacity: 1;
}
input:hover,
input:focus{
	background-color: #deebff;

}
.submit
{
	display: inline-block;
	align-items: center;
	text-align: center;
	border-radius: 0 10px 10px 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 0.9em;
	height: 40px;
	width: 95px;
	background-color: #0065FC;
	color: white;
	border:none;
}
.button2{
	display: none;
}
button:hover{
	box-shadow: 0 0 6px 3px darkgrey;
    transition: box-shadow 0.2s;
	cursor: pointer;
}

i.fa-map-marker-alt:hover{
	font-weight: bold;
	color: darkgrey;
	background-color: white;
}

.filtres{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 0.9em;
	display:inline-flex;
	justify-content:space-around;
	align-items: center;
	padding-top: 2%;
}
.filtres h1{
	display:flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.9em;
	font-family: 'Raleway',sans-serif;
	font-weight: 800;
	position: relative;
	right: 5px;
}

#bouton_filtres{
	background-color: #deebff;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    color: #0065FC;
}

.budget{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	border:solid #F2F2F2 2px;
	width: 150px;
	border-radius: 30px 30px 30px 30px;
	color:black;
	background-color: white;
	transition: all 1s ease-out;
}
.composition{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	border:solid #F2F2F2 2px;
	width: 120px;
	border-radius: 30px 30px 30px 30px;
	color:black;
	background-color: white;
	transition: all 1s ease-out;

}
.ambiance{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	border:solid #F2F2F2 2px;
	width: 150px;
	border-radius: 30px 30px 30px 30px;
	color:black;
	background-color: white;
	transition: all 1s ease-out;
}
.animaux{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	width: 190px;
	border-radius: 30px 30px 30px 30px;
	color:black;
	background-color: white;
	border:#F2F2F2 solid 2px;
	transition: all 1s ease-out;
}

.room_available{
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	font-family: 'Raleway',sans-serif;
	font-weight: 500;
	padding-top: 2%;
}
.room_available p{

	font-size: 0.8em;
	position: relative;
	left: 8px;
}
i.fa-info-circle{
	font-size: 18px;
	border: 1px solid;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: white;
	background-color: #0065FC;
    display: flex;
	justify-content: center;
	align-items: center;
}

i.fa-info-circle, .room_available p{
	display: inline-block;
	justify-content: start;
	align-items: center;
}
/* ****FIN FILTRES + LIGNE DISPONIBILITE ****** */

/* *********DEBUT SECTION "HEBERGEMENT A MARSEILLE + ASIDE******* */

section .hebergement-container-Main{
	display: grid;
	justify-content: flex-start;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas:
	"a a a A"
	"a a a A"
	"a a a A"
	"a a a A";
}
.hebergement_marseille_container{
	grid-area: a;
	background-color: #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	display: flex;
	justify-content: center;
}
.logement_carte{
	padding: 0;
	margin: 0;
}
.next_section a{
	font-family: 'Raleway',sans-serif;
	font-weight: 800;
	color: black;
	font-size: 0.6em;
}
.hebergement .next_section a:visited{
	color: black;
}
.next_section a:hover{
	color: #0065FC;
	font-weight: bold;
}

.hebergement{
	display: inline-flex;
	justify-content: flex-start;
	padding-top: 3%;
	width: 100%;
}
.hebergement_marseille_container{
	background-color: #F2F2F2;
	row-gap: 2.5%;
	column-gap: 3%;
	padding-left: 3%;
	justify-content: flex-start;
	align-items: center;
	padding-right: 6%;
	margin-right: 2%;
	padding-bottom: 5%;
	padding-top: 2%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 50px 1fr 1fr 70px;
	grid-template-areas: 
	"h2 h2 h2"
	"cannebiere port mouettes"
	"mer panier amina"
	"following-sections following_sections following_sections";
}

.hebergement_marseille_container h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: larger;
	grid-area: h2;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.next_section{
	grid-area: following-sections;
	font-family: 'Raleway',sans-serif;
	font-weight: 800;
	padding-left: 5px;
	display: flex;
	justify-content: flex-start;
	align-items:center;
}
.next_section a{
	font-size: 0.9em;
}
#chez_amina{
	grid-area: amina;
}
#les_mouettes{
	grid-area: mouettes;
}
#la_cannebiere{
	grid-area: cannebiere;
}
#le_panier{
	grid-area: panier;
}
#le_port{
	grid-area: port;
}
#la_mer{
	grid-area: mer;
}
.hebergement_marseille_container img{
width: 220px;
height: 130px;
object-fit: cover;
object-position: center;
border: 4px white solid;
border-bottom: white 5px solid;
border-radius: 15px 15px 0px 0px;
}

strong{
	font-size: 1.1em;
	font-family: 'Raleway',sans-serif;
	font-weight: 700;
}
span{
	font-family: 'Raleway',sans-serif;
	font-weight: 900;
	font-size: 1.1em;
}
section a{
	text-decoration:none;
}
.logement_carte img, .hotel_description{
	display: block;
}
.logement_carte:hover{
	box-shadow: 0 0 6px 3px darkgrey;
    transition: box-shadow 0.2s;
	margin: auto;
	padding: auto;
	border-radius: 15px;
}

.hotel_description h3{
	font-family: 'Raleway',sans-serif;
	font-weight: 800;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}
.hotel_description p{
	font-family: 'Raleway Light',sans-serif;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	color: black;
}

.logement_carte{
	margin: 0;
	padding: 0;
}
.hotel_description{
	border: white solid;
	border-radius: 0 0 15px 15px;
	margin: 0;
	padding-left: 12px;
	padding-bottom: 10px;
	width: 220px;
	background-color: white;
	color: black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.hotel_description .stars_icon{
	padding-top: 6px;
}
.stars_icon{
	font-size: 0.8em;
	display: flex;
}
/* ****fin section hebergement à Marseille****** */

/* ****debut aside****** */

.graph_icon{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	grid-area: h2;
	display: inline-flex;
	justify-content: space-between;
}
aside .populaire{
	grid-area: A;
	background-color: #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
}

.populaire{
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: #F2F2F2;
	row-gap: 3%;
	margin-left: 1%;
	border-radius: 15px;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr 1fr 1fr;
	grid-template-areas: 
	"h2"
	"populaire_carte_contenair1"
	"populaire_carte_contenair2"
	"populaire_carte_contenair3";
}
#populaire_carte_contenair1{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	grid-area: populaire_carte_contenair1 ;
	display: flex;
	justify-content: center;
	align-items: center;
}
#populaire_carte_contenair1 a{
	display: inline-flex;
}
#populaire_carte_contenair2 a{
	display: inline-flex;
}
#populaire_carte_contenair3 a{
	display: inline-flex;
}

#populaire_carte_contenair1:hover{
	box-shadow: 0 0 6px 3px darkgrey;
	border-radius: 15px 15px 15px 15px;
	margin: auto;
	padding: auto;
}
#populaire_carte_contenair1 i.fas{
	color: #0065FC;
}
#populaire_carte_contenair2 i.fas{
	color: #0065FC;
}
#populaire_carte_contenair3 i.fas{
	color: #0065FC;
}
.hotel_description i.fas{
	color: #0065FC;
}
.hebergement i.far{
	color:darkgray;
}
#populaire_carte_contenair2{
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	grid-area: populaire_carte_contenair2;
	display: flex;
	justify-content: center;
	align-items: center;
}
#populaire_carte_contenair2:hover{
	box-shadow: 0 0 6px 3px darkgrey;
	border-radius: 15px 15px 15px 15px;
	margin: auto;
	padding: auto;
}
#populaire_carte_contenair3{
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	grid-area: populaire_carte_contenair3;
	display: flex;
	justify-content: center;
	align-items: center;
}
#populaire_carte_contenair3:hover{
	box-shadow: 0 0 6px 3px darkgrey;
	border-radius: 15px 15px 15px 15px;
	margin: auto;
	padding: auto;
}
.graph_icon{
	display: inline-flex;
	justify-content: space-between;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	align-items: center;
}
aside h2{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: inline-block;
	justify-content: space-between;
	align-items: flex-end;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: larger;
}
i.fa-chart-line{
	font-size: 1.3em;
}
.description_pop{
	border-radius: 0px 15px 15px 0px;
	background-color: white;
	color: black;
	width: 155px;
	height: 130px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.details_pop{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 5px;
}
aside .stars_icon{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	padding-left: 5px;
}

.photo_populaire img{
	width: 115px;
	height: 130px;
	object-fit: cover;
	border-radius: 15px 0px 0px 15px;
	border: solid white 4px;
	margin: 0;
	padding-bottom: 0;
}

aside h3{
	font-family: 'Raleway',sans-serif;
	font-weight: 800;
	font-size: 0.9em;
	color: black;
	margin: 0;
	padding: 0;
}
aside p{
	font-family: 'Raleway',sans-serif;
	font-weight: 400;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}
/* ****fin aside****** */

/* ****debut section activites à Marseille****** */
#activite_marseille{
	max-width: 1440px;
	padding-top: 4%;
}
.activites-container-main{
	display: block;
	justify-content:flex-start;
	padding-left: 0;
	margin-left: 0;
	margin-right: auto;
}

li img{
	object-fit: cover;
	object-position: center;
	width: 100%;
	border-radius: 15px 15px 0px 0px;
	display: flex;
}

#vieux_port{
	height: 320px;
}
#pomegues{
	height: 130px;
}
#Frioul{
	height: 110px;
}
#parc_calanques{
	height: 320px;
}
#Notre-Dame{
	height: 130px;
	display: flex;
	align-items: flex-end;
}
#Longchamp{
	height: 140px;
}
li a{
	transition: all 0.2s ease-out;
	}

li a:hover,
li a:focus{
	box-shadow: 5px 5px 6px 3px darkgrey;
	color: #0065FC;
}

.activites-container-main ul{
	width: 100%;
	margin-left: 0;
	margin-right: auto;
	list-style-type: none;
	justify-content: flex-start;
	align-items: flex-end;
	column-gap: 2%;
	row-gap: 3%;
	display: grid;
	grid-template-columns: repeat(4, 250px);
	grid-template-rows: 50px 180px 180px;
	grid-template-areas: 
	"z z z z"
	"a b d e"
	"a c d f";
}
ul h2:nth-child(1){
	grid-area: z;
	display: flex;
	justify-content: flex-start;
	font-family: 'Raleway',sans-serif;
	font-weight: 800;
	font-size: larger;
}
li h3{
	font-family: 'Raleway',sans-serif;
	font-weight: 800;
	font-size: 0.8em;
	padding-left: 15px;
	border-radius: 0 0 15px 15px;
	border-top: none;
	display: flex;
	justify-content: flex-start;
	height: 23px;
}
ul li a{
	width: 100%;
	display: block;
	justify-content: flex-start;
	align-items: flex-end;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0 0 6px 3px darkgrey;
	transition: all 0.5s ease-out;
}

li:nth-child(2){
	grid-area: a;
}

li:nth-child(3){
	grid-area: b;

}
li:nth-child(4){
	grid-area: c;
	display: block;
}
li:nth-child(5){
	grid-area: d;
}
li:nth-child(6){
	grid-area:e;
	display: block;
	justify-content: flex-start;
}
li:nth-child(7){
	grid-area: f;	
}

#activite_marseille a{
	color: black;
}
#activite_marseille a:hover{
	color:#0065FC;
}

/* ****fin section activites à marseille****** */

/* *****************début footer**************** */

footer{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-top: 5%;
	margin-bottom: 0;
	padding-top: 3%;
	padding-bottom: 5%;
	padding-left: 0;
	padding-right: 0;
    background-color: #F2F2F2;
}

footer a{
	text-decoration: none;
	color:black;
}
footer a:hover{
	color: #0065FC;
}
footer a{
	font-size: 0.8em;
	font-family: 'Raleway',sans-serif;
	font-weight: 200;
}
footer h1{
	font-size: 1em;
	font-family: 'Raleway',sans-serif;
	font-weight: 800;
}
.footer-nav-contenair{
	display: inline-flex;
	justify-content: space-around;
	align-items: flex-start;
}

/* *****************fin footer****************** */

/* RESPONSIVE ECRANS MAX LARGEUR 1024PX*/

@media screen and (max-width: 1024px){
	
	body{
		margin: 0 0;
		max-width: 1024px;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	body *{
		box-sizing: border-box;
	}
	#wrapper
	{
		max-width: 1024px;
		margin: auto;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 5%;
		overflow: hidden;
	}

	header
	{
	width: 100%;
	font-family: 'Raleway';
	grid-template-columns: 57% 43%;
	grid-template-rows: 1fr 1fr;
	}

	.nav2{
		padding-left: 5px;
		padding-right: 5px;
		display: inline-flex;
		justify-content: space-around;
		font-size: 1em;
	}

	.head-title h1{
		font-size: 1.2em;
		flex-wrap: wrap;
		font-family: 'Raleway',sans-serif;
		font-weight: 800;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.head-title h2{
		font-size: 1em;
		font-family: 'Raleway',sans-serif;
		font-weight: 400;
		padding-top: 0;
	}
	.search_zone_contenair{
		width: 100%;
		grid-template-columns: 70%;
		grid-template-rows: 1fr 1fr 1fr;
	}

	input 
	{
	text-align: center;
	font-family: 'Raleway',sans-serif;
	background-color: white;
	transition: all 1s ease-out;
	color: black;
	font-weight: 900;
	color: black;
	border-top:#F2F2F2 solid 1px;
	border-bottom: #F2F2F2 solid 1px;
	border-left: none;
	border-right: none;
	font-size: 1em;
	height: 45px;
	width: 200px;
}
i.fa-map-marker-alt{
	font-size: 0.9em;
	background-color: #F2F2F2;
	border: #F2F2F2 solid;
	border-radius: 8px 0 0 8px;
	width: 45px;
	height: 45px;
	display: inline-flex;
	justify-content: center;
	align-items: center;		
}
.submit
{
	display: inline-block;
	align-items: center;
	text-align: center;
	border-radius: 0 10px 10px 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 0.9em;
	height: 45px;
	width: 100px;
	background-color: #0065FC;
	color: white;
	border:none;
}
.filtres{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 0.8em;
	display:inline-flex;
	justify-content:space-around;
	align-items: center;
	padding-top: 2%;
}
.budget{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	border:solid #F2F2F2 2px;
	width: 140px;
	border-radius: 30px 30px 30px 30px;
	color:black;
	background-color: white;
	transition: all 1s ease-out;
}
.composition{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	border:solid #F2F2F2 2px;
	width: 110px;
	border-radius: 30px 30px 30px 30px;
	color:black;
	background-color: white;
	transition: all 1s ease-out;

}
.ambiance{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	border:solid #F2F2F2 2px;
	width: 140px;
	border-radius: 30px 30px 30px 30px;
	color:black;
	background-color: white;
	transition: all 1s ease-out;
}
.animaux{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	width: 180px;
	border-radius: 30px 30px 30px 30px;
	color:black;
	background-color: white;
	border:#F2F2F2 solid 2px;
	transition: all 1s ease-out;
}
.hebergement{
	display: inline-flex;
	justify-content: flex-start;
	padding-top: 3%;
	width: 100%;
}
.hebergement_marseille_container{
	background-color: #F2F2F2;
	row-gap: 2%;
	column-gap: 1%;
	padding-left: 1%;
	justify-content: flex-start;
	align-items: center;
	padding-right: 3%;
	margin-right: 1%;
	padding-bottom: 5%;
	padding-top: 2%;
}
.hebergement_marseille_container img{
	width: 200px;
	height: 100px;
	object-fit: cover;
	object-position: center;
	border: 2px white solid;
	border-bottom: white 5px solid;
	border-radius: 15px 15px 0px 0px;
	}
	
	strong{
		font-size: 1em;
	}
	span{
		font-size: 1em;
	}
	.hotel_description h3{
		font-size: 0.8em;
	}
	.hotel_description p{
		font-size: 0.7em;
	}
	.hotel_description{
		border: white solid;
		border-radius: 0 0 15px 15px;
		margin: 0;
		padding-left: 12px;
		padding-bottom: 10px;
		width: 200px;
	}
	.hotel_description .stars_icon{
		padding-top: 6px;
	}
	.stars_icon{
		font-size: 0.6em;
		display: flex;
	}
	.next_section a{
		font-size: 0.7em;
	}
	.hebergement_marseille_container h2{
		font-size: 1.2em;
	}
	.populaire{
		justify-content: center;
		align-items: flex-start;
		row-gap: 3%;
		margin-left: 1%;
		border-radius: 15px;
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 2%;
		margin-left: 0;
		margin-right: 0;
	}
		aside h2{
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		display: inline-block;
		justify-content: space-between;
		align-items: flex-end;
		font-family: 'Raleway', sans-serif;
		font-weight: 800;
		font-size: 1.2em;
	}
	i.fa-chart-line{
		font-size: 1.2em;
	}
	.description_pop{
		width: 140px;
		height: 100px;
	}
	a:-webkit-any-link {
		color: -webkit-link;
		cursor: pointer;
	}
	.photo_populaire img{
		width: 115px;
		height: 100px;
		object-fit: cover;
		border-radius: 15px 0px 0px 15px;
		border: solid white 3px;
		margin: 0;
		padding-bottom: 0;
	}
	
	aside h3{
		font-size: 0.8em;
	}
	aside p{
		font-size: 0.7em;
	}

	#activite_marseille{
		max-width: 1024px;
		padding-top: 1%;
		padding-bottom: 2%;
	}
	/*.activites-container-main{
		padding-left: auto;
	}*/
	.activites-container-main ul{
		margin: 0 auto;
		}
	
	#vieux_port{
		height: 250px;
	}
	#pomegues{
		height: 90px;
	}
	#Frioul{
		height: 80px;
	}
	#parc_calanques{
		height: 250px;
	}
	#Notre-Dame{
		height: 90px;
	}
	#Longchamp{
		height: 100px;
	}
	
	
	.activites-container-main ul{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		column-gap: 2%;
		row-gap: 3%;
		grid-template-columns: repeat(4, 220px);
		grid-template-rows: 60px 150px 150px;
	}
	ul h2:nth-child(1){
		font-size: 1.2em;
	}
	li h3{	
		font-size: 0.8em;
		padding-left: 15px;
		height: 23px;
	}
	ul li a{
		width: 100%;
		box-shadow: 0 0 6px 3px darkgrey;
		transition: all 0.5s ease-out;
	}
	
	#activite_marseille a{
		color: black;
	}
	#activite_marseille a:hover{
		color:#0065FC;
	}

	footer{
		width: 100%;
	}
	
	footer a{
		font-size: 0.8em;
		font-family: 'Raleway',sans-serif;
		font-weight: 200;
	}
	footer h1{
		font-size: 0.8em;
	}
}
/* *************************************RESPONSIVE TABLETTES MAX WIDTH 768px*************************************************** */

@media screen and (max-width: 768px){

	body{
		margin: 0 0;
		max-width: 768px;
		padding-bottom: 0;
		margin-bottom: 0;
		margin-top: 60px;
	}
	body *{
		box-sizing: border-box;
	}
	#wrapper
	{
		max-width: 768px;
		margin: auto;
		overflow: hidden;
	}

	header
{
	width: 100%;
	grid-template-columns: 30% 70%;
	grid-template-rows: 80px 120px;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
}

.nav2{
		width: 100%;
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		font-size: 1.2em;
		display: inline-flex;
		justify-content:space-evenly;
		align-items: flex-start;
}
.nav1 img{
		width: 100%;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		display: flex;
		justify-content: center;
		align-items: center;
}

#logo-reservia{
		width: 130px;
}
.head-title{
		grid-column: 1 / span 3;
		grid-row: 2 / 3;
}
	header .head-title h1{
			grid-column: 1 / span 3;
			grid-row: 2 / 3;
			flex-wrap: wrap;
			font-size: 1.5em;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	header .head-title h2{
			grid-column: 1 / span 3;
			grid-row: 2 / 3;
			flex-wrap: wrap;
			font-size: 1.2em;
			padding-top: 0;
		}

	.search_zone_contenair{
		width: 100%;
		padding-left: 5%;
		padding-right: 5%;
		height: 60vh;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-auto-rows: auto;
		padding-bottom: 2%;
		row-gap: 4%;
	}
	.search_bare{
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	input 
	{
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	height: 3em;
	width: 20em;
	}

	i.fa-map-marker-alt{
	font-size: 1.3em;
	background-color: #F2F2F2;
	border: #F2F2F2 solid;
	border-radius: 8px 0 0 8px;
	width: 3em;
	height: 3em;
	display: inline-flex;
	justify-content: center;
	align-items: center;		
	}
	.submit{
		display: none;
	}
	.button2{
		display: inline-block;
		align-items: center;
		text-align: center;
		border-radius: 10px 10px 10px 10px;
		font-weight: bold;
		font-size: 1.3em;
		height: 3em;
		width: 3em;
		background-color: #0065FC;
		color: white;
		border:none;
	}
	.button2:hover{
		box-shadow: 0 0 6px 3px darkgrey;
		font-weight: bold;
		font-size: 1.3em;
		transition: none;
		cursor: pointer;
	}	


.filtres{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	font-size: 1em;
	flex-wrap: wrap;
	display:inline-flex;
	justify-content:space-between;
	align-items: center;
}
.filtres h1{
	font-size: 1em;
	position: relative;
	right: 1em;
	left: 0.4em;
}

#bouton_filtres{
	background-color: #deebff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #0065FC;
}

.budget{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	width: 180px;
	border-radius: 30px 30px 30px 30px;
	color:black;
	background-color: white;
	transition: all 0.5s ease-out;
}
.composition{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	/*display: flex;
    align-items: center;
    justify-content: flex-start;*/
    flex-wrap: wrap;
	border:solid #F2F2F2 2px;
	width: 140px;
	border-radius: 30px 30px 30px 30px;
	color:black;
	background-color: white;
	transition: all 1s ease-out;

}
.ambiance{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	/*display: flex;
    align-items: center;
    justify-content: flex-start;*/
    flex-wrap: wrap;
	border:solid #F2F2F2 2px;
	width: 180px;
	border-radius: 30px 30px 30px 30px;
	color:black;
	background-color: white;
	transition: all 0.5s ease-out;
}
.animaux{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	margin-top: 15px;
	position: relative;
	left: 5em;
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	width: 230px;
	border-radius: 30px 30px 30px 30px;
	color:black;
	background-color: white;
	border:#F2F2F2 solid 2px;
	transition: all 0.5s ease-out;
}
.room_available{
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
}
.room_available p{
	font-size: 1em;
	position: relative;
	left: 8px;
}
i.fa-info-circle{
	font-size: 20px;
	border: 1px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: white;
	background-color: #0065FC;
    display: flex;
	justify-content: center;
	align-items: center;
}

i.fa-info-circle, .room_available p{
	display: inline-block;
	justify-content: start;
	align-items: center;
}
section .hebergement{
	width: 100%;
	margin: 0 auto;
	padding-bottom: 20%;
	row-gap: 8%;
	margin-top: 8%;
	display: grid;
	justify-content: flex-start;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 50%);
	grid-template-areas:
	"A"
	"a";
}
.hebergement_marseille_container{
	grid-area: a;
	background-color: #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
aside .populaire{
	grid-area: A;
	background-color: #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	display:flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	
}
aside .populaire{
	width: 100%;
	background-color: #F2F2F2;
	justify-content:flex-start;
	align-items:flex-start;
	flex-direction: column;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"h2"
	"populaire_carte_contenair1"
	"populaire_carte_contenair2"
	"populaire_carte_contenair3";
}
#populaire_carte_contenair1{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	padding-left: 0;
	margin-left: 0;
	grid-area: populaire_carte_contenair1 ;
	display: flex;
	justify-content: flex-start;
	box-shadow: 0 0 6px 3px darkgrey;
	margin: auto;
	padding: auto;
	border-radius: 15px;
}
#populaire_carte_contenair2{
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	grid-area: populaire_carte_contenair2;
	display: flex;
	justify-content: flex-start;
	box-shadow: 0 0 6px 3px darkgrey;
	margin: auto;
	padding: auto;
	border-radius: 15px;

}

#populaire_carte_contenair3{
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	grid-area: populaire_carte_contenair3;
	display: flex;
	justify-content: flex-start;
	box-shadow: 0 0 6px 3px darkgrey;
	margin: auto;
	padding: auto;
	border-radius: 15px;

}
#populaire_carte_contenair1:hover{
	box-shadow: 0 0 6px 3px darkgrey;
	border-radius: 15px 15px 15px 15px;
	margin: auto;
	padding: auto;
}
#populaire_carte_contenair2:hover{
	box-shadow: 0 0 6px 3px darkgrey;
	border-radius: 15px 15px 15px 15px;
	margin: auto;
	padding: auto;
}
#populaire_carte_contenair3:hover{
	box-shadow: 0 0 6px 3px darkgrey;
	border-radius: 15px 15px 15px 15px;
	margin: auto;
	padding: auto;
}

.hebergement_marseille_container{
	background-color: #F2F2F2;
	row-gap: 2.5%;
	column-gap: 3%;
	padding-left: 7%;
	justify-content: center;
	align-items: center;
	padding-right: 7%;
	margin-right:auto;
	padding-bottom: 2%;
	padding-top: 2%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 50px 1fr 1fr 40px;
	grid-template-areas: 
	"h2 h2 h2"
	"cannebiere port mouettes"
	"mer panier amina"
	"following-sections following_sections following_sections";
}


.hebergement_marseille_container h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 1.2em;
	grid-area: h2;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.next_section{
	grid-area: following-sections;
	font-family: 'Raleway',sans-serif;
	font-weight: 800;
	padding-left: 5px;
	display: flex;
	justify-content: flex-start;
	align-items:flex-start;
}
.next_section a{
	font-size: 1em;
}
#chez_amina{
	grid-area: amina;
}
#les_mouettes{
	grid-area: mouettes;
}
#la_cannebiere{
	grid-area: cannebiere;
}
#le_panier{
	grid-area: panier;
}
#le_port{
	grid-area: port;
}
#la_mer{
	grid-area: mer;
}

.hebergement_marseille_container img{
	width: 200px;
	height: 100px;
	border: 2px white solid;
	border-bottom: white 5px solid;
	border-radius: 15px 15px 0px 0px;
	}
	
	strong{
		font-size: 1em;
	}
	span{
		font-size: 1em;
	}
	.hotel_description h3{
		font-size: 1em;
	}
	.hotel_description p{
		font-size: 0.9em;
	}
	.hotel_description{
		border: white solid;
		border-radius: 0 0 15px 15px;
		margin: 0;
		padding-left: 12px;
		padding-bottom: 10px;
		width: 200px;
	}
	.hotel_description .stars_icon{
		padding-top: 6px;
	}
	.stars_icon{
		font-size: 1em;
		display: flex;
	}
	.next_section a{
		font-size: 1em;
	}
	.hebergement_marseille_container h2{
		font-size: 1.2em;
	}
	.populaire{
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 5%;
		padding-bottom: 20%;
		margin-left: -4%;
		margin-right: 8%;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 15%;
		width: 100%;
	}
		aside h2{
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		padding-left: 10px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		font-family: 'Raleway', sans-serif;
		font-weight: 800;
		font-size: 1.2em;
	}
	i.fa-chart-line{
		font-size: 1.5em;
		display: flex;
	}
	.description_pop{
		width: 530px;
		height: 150px;
	}
	a:-webkit-any-link {
		color: -webkit-link;
		cursor: pointer;
	}
	.photo_populaire img{
		width: 160px;
		height: 150px;
		object-fit: cover;
		border-radius: 15px 0px 0px 15px;
		border: solid white 5px;
		margin: 0;
		padding-bottom: 0;
	}
	
	aside h3{
		font-size: 1.1em;
		width: 35%;
	}
	aside p{
		font-size: 1em;
	}

	#activite_marseille{
		max-width: 768px;
		padding-bottom: 2%;
	}
	/*.activites-container-main{
		padding-left: auto;
	}*/
	.activites-container-main ul{
		margin: 0 auto;
		}
	
	#vieux_port{
		height: 250px;
	}
	#pomegues{
		height: 90px;
	}
	#Frioul{
		height: 80px;
	}
	#parc_calanques{
		height: 250px;
	}
	#Notre-Dame{
		height: 90px;
	}
	#Longchamp{
		height: 100px;
	}
	
	.activites-container-main ul{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		column-gap: 2%;
		row-gap: 3%;
		grid-template-columns: repeat(4, 170px);
		grid-template-rows: 60px 150px 150px;
	}
	ul h2:nth-child(1){
		font-size: 1.2em;
		padding-left: 5%;
	}
	li h3{	
		font-size: 0.8em;
		padding-left: 15px;
		height: 35px;
		display: flex;
		justify-content:flex-start;
		align-items: flex-start;
	}
	ul li a{
		width: 100%;
		box-shadow: 0 0 6px 3px darkgrey;
		transition: all 0.5s ease-out;
	}
	
	#activite_marseille a{
		color: black;
	}
	#activite_marseille a:hover{
		color:#0065FC;
	}

	footer{
		width: 100%;
	}
	
	footer a{
		font-size: 0.8em;
		font-family: 'Raleway',sans-serif;
		font-weight: 200;
	}
	footer h1{
		font-size: 0.8em;
	}
}

/* ************************************************RESPONSIVE MOBILE ****MAX-WIDTH 320px************************************ */

@media screen and (max-width:320px){
	
	body{
		margin: 0 0;
		max-width: 320px;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	body *{
		box-sizing: border-box;
	}
	#wrapper
	{
		max-width: 320px;
		margin: auto;
	}

	header{
	width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	padding-bottom: 2%;
	padding-left: 1%;
	padding-right: 1%;
}
#registration-mobile{
	grid-column: 2 / -3;
	grid-row: 1 / 2;
	display: flex;
}
.nav1 img{
	display: flex;
}

#registration-mobile, .nav1 img{
	grid-column: 1 / span 3;
	grid-row: 1 / 2;
	font-size: 1em;
	display: inline-block;
	justify-content: space-between;
}
/*.nav2 a:hover{
	display: none;
}*/
.nav2{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.nav2{
	position: absolute;
}

#logo-reservia{
	width: 130px;
}
.nav-mobile{
	width: 100%;
	grid-column: 1 / span 3;
	grid-row: 2 / 3;
	display: flex;
	justify-items: flex-start;
	height: 0;
	line-height: 0;
}
.nav-mobile-activite{
	width: 100%;
	grid-column: 1 / span 3;
	grid-row: 2 / 3;
	display: flex;
	justify-content: flex-end;
}

.nav2 .nav-mobile, .nav2 .nav-mobile-activite{
display: inline-block;
flex-direction: row-reverse;
justify-content: space-between;
}

.head-title{
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}
header .head-title h1{
		grid-column: 1 / 2;
		grid-row: 3 / 4;
		flex-wrap: wrap;
		font-size: 1.2em;
		padding-bottom: 0;
		margin-bottom: 0;
	}
header .head-title h2{
		grid-column: 1 / 2;
		grid-row: 3 / 4;
		flex-wrap: wrap;
		font-size: 1em;
		padding-top: 0;
	}

.search_zone_contenair{
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	height: 60vh;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-auto-rows: auto;
	padding-bottom: 2%;
	row-gap: 4%;
}





}
