body
{
width:100%;
padding: 0;
margin: 0;
font-family: 'Raleway',sans-serif;
}
#container{
	margin: 0;
	padding: 0;
}

/* ******DEBUT HEADER********* */
header
{
	display: grid;
	font-family: 'Raleway';
	width: 100%;
	grid-template-columns:60% 40%;
	grid-template-rows:1fr 1fr;
	grid-template-areas:
	"logo group-nav-container"
	"head-title head-title" ;
}
.nav1{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	grid-area: logo;
}

.nav2{
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	grid-area: group-nav-container;
	display: inline-flex;
	justify-content: space-between;
}
.nav2 .registration a{
	font-family: 'Raleway',sans-serif;
	font-weight: 600;
	color: #0065FC;
}
.nav2 a{
	font-size: 1.1em;
	font-family: 'Raleway',sans-serif;
	font-weight: 400;
	text-decoration: none;
	color:black;
}

.nav2 .nav-mobile a:hover{
	border-top: 2px solid #0065FC;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 61px;
}
.nav2 .nav-mobile a{
	border-top: 2px solid #0065FC;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 61px;
	font-weight: 500;
}

.nav2 .nav-mobile a:visited{
	color: #0065FC;
}

.nav2 .nav-mobile-activite a:hover{
	border-top: 2px solid #0065FC;
	color: #0065FC;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 61px;
}
.nav2 .nav-mobile-activite a{
	color: black;
}

#logo-reservia{
grid-area: logo;
grid-column: 1 / 2;
grid-row: 1 / 2;
width: 150px;
}

.head-title{
	grid-area: head-title;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	gap: 0%;
}
.head-title h1{
	font-size: 1.5em;
	font-family: 'Raleway',sans-serif;
	font-weight: 800;
	padding-bottom: 0;
	margin-bottom: 0;
}
.head-title h2{
	font-size: 1.3em;
	font-family: 'Raleway',sans-serif;
	font-weight: 400;
	padding-top: 0;
}

/* ****FIN HEADER****** */

/* ****DEBUT FILTRES****** */

.search_zone_contenair{
	display: grid;
	width: 100%;
	grid-template-columns: 80%;
	grid-template-rows: 1fr 1fr 1fr;
}
.search_bare{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
	
.barre_recherche{
	display: inline-flex;
	align-items:center;
	text-align: center;
	justify-content: flex-start;
	border: 1px solid #F2F2F2;
	height: 60px;
	border-radius: 10px 10px 10px 10px;
	}

.budget:hover{
	color:white;
	background-color:#0065FC;
	border:#0065FC solid 2px;
	font-weight:bold;
	cursor: pointer;
}
.composition:hover{
	color:white;
	background-color:#0065FC;
	border:#0065FC solid 2px;
	font-weight: bold;
	cursor: pointer;
}
.ambiance:hover{
	color:white;
	background-color:#0065FC;
	border:#0065FC solid 2px;
	font-weight: bold;
	cursor: pointer;
}
.animaux:hover{
	background-color:#0065FC;
	border:#0065FC solid 2px;
	color:white;
	font-weight: bold;
	cursor: pointer;
}
#bouton_filtres{
	background-color: #0065FC;
	color: white;
	font-weight: bold;
	margin-right: 10px;
}

i.fa-map-marker-alt{
	font-size: 1.2em;
	background-color: #F2F2F2;
	border: #F2F2F2 solid;
	border-radius: 8px 0 0 8px;
	width: 60px;
	height: 57px;
	display: inline-flex;
	justify-content: center;
	align-items: center;		
}
input 
{
	text-align: center;
	font-family: 'Raleway',sans-serif;
	font-weight: 900;
	color: black;
	border-top:#F2F2F2 solid 1px;
	border-bottom: #F2F2F2 solid 1px;
	border-left: none;
	border-right: none;
	font-size: 1.2em;
	height: 60px;
	width: 260px;
}
input::placeholder{
	color: black;
	opacity: 1;
}
input:focus{
	background-color: #deebff;
}
.submit
{
	display: inline-block;
	align-items: center;
	text-align: center;
	border-radius: 0 10px 10px 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 1.2em;
	height: 60px;
	width: 140px;
	background-color: #0065FC;
	color: white;
	border:none;
}
.button2{
	display: none;
}
button:hover{
	box-shadow: 0 0 6px 3px darkgrey;
    transition: box-shadow 0.2s;
	cursor: pointer;
}

i.fa-map-marker-alt:hover{
	font-weight: bold;
	color: darkgrey;
	background-color: white;
}

.filtres{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 1em;
	display:inline-flex;
	justify-content:space-evenly;
	align-items: center;
	padding-top: 3%;
}
.filtres h1{
	display:flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 1em;
	font-family: 'Raleway Medium',sans-serif;
	position: relative;
	right: 0.8em;
}

#bouton_filtres{
	background-color: #deebff;
    height: 47px;
    width: 47px;
    border-radius: 50%;
    text-align: center;
    line-height: 47px;
    color: #0065FC;
}

.budget{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	border:solid #F2F2F2 2px;
	width: 20%;
	border-radius: 30px 30px 30px 30px;
}
.composition{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	border:solid #F2F2F2 2px;
	width: 16%;
	border-radius: 30px 30px 30px 30px;
}
.ambiance{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	border:solid #F2F2F2 2px;
	width: 20%;
	border-radius: 30px 30px 30px 30px;
}
.animaux{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	border:solid #F2F2F2 2px;
	width: 26%;
	border-radius: 30px 30px 30px 30px;
}

.room_available{
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	font-family: 'Raleway',sans-serif;
	font-weight: 500;
	padding-top: 3%;
}
.room_available p{

	font-size: 0.9em;
	position: relative;
	left: 8px;
}
i.fa-info-circle{
	font-size: 25px;
	border: 1px solid darkgrey;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
	align-items: center;
    text-align: center;
    color: white;
	background-color: #0065FC;
    display: inline-block;
	justify-content: center;
	align-items: center;
}

i.fa-info-circle, .room_available p{
	display: inline-block;
	justify-content: start;
	align-items: center;
}
/* ****FIN FILTRES + LIGNE DISPONIBILITE ****** */

/* *********DEBUT SECTION "HEBERGEMENT A MARSEILLE + ASIDE******* */

section .hebergement-container-Main{
	display: grid;
	justify-content: center;
	gap: 5%;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 25% 1fr 1fr 1fr;
	grid-auto-rows: auto;
	grid-template-areas:
	"a a a A"
	"a a a A"
	"a a a A"
	"a a a A";
}
.hebergement_marseille_container{
	grid-area: a;
	background-color: #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	display: flex;
	justify-content: flex-start;
}
.logement_carte{
	padding: 0;
	margin: 0;
}
.next_section a{
	font-family: 'Raleway',sans-serif;
	font-weight: 800;
	color: black;
	font-size: 0.9em;
}
.hebergement .next_section a:visited{
	color: black;
}
.next_section a:hover{
	color: #0065FC;
	font-weight: bold;
}

.hebergement{
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
}
.hebergement_marseille_container{
	background-color: #F2F2F2;
	padding-bottom: 2%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 2.5%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 25% 1fr 1fr 1fr;
	grid-template-areas: 
	"h2 h2 h2"
	"cannebiere port mouettes"
	"mer panier amina"
	"following-sections following_sections following_sections";
}

.hebergement_marseille_container h2{
	font-family: 'Raleway-Black', sans-serif;
	font-size:larger;
	grid-area: h2;
}
.next_section{
	grid-area: following-sections;
	font-family: 'Raleway',sans-serif;
	font-weight: bold;
}
#chez_amina{
	grid-area: amina;
}
#les_mouettes{
	grid-area: mouettes;
}
#la_cannebiere{
	grid-area: cannebiere;
}
#le_panier{
	grid-area: panier;
}
#le_port{
	grid-area: port;
}
#la_mer{
	grid-area: mer;
}
.hebergement_marseille_container img{
width: 240px;
height: 120px;
object-fit: cover;
object-position: center;
border: 5px white solid;
border-bottom: white 5px solid;
border-radius: 15px 15px 0px 0px;
}

strong{
	font-size: 1.2em;
	font-family: 'Raleway semibold',sans-serif;
}
span{
	font-family: 'Raleway-Black',sans-serif;
	font-size: 0.9em;
}
section a{
	text-decoration:none;
}
.logement_carte img, .hotel_description{
	display: block;
}
.logement_carte:hover{
	box-shadow: 0 0 6px 3px darkgrey;
    transition: box-shadow 0.2s;
	margin: auto;
	padding: auto;
	border-radius: 15px;
}

.hotel_description h3{
	font-family: 'Raleway-Black',sans-serif;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}
.hotel_description p{
	font-family: 'Raleway Light',sans-serif;
	margin: 0;
	padding: 0;
	font-size: 0.7em;
	color: black;
}
.logement_carte{
	margin: 0;
	padding: 0;

}
.hotel_description{
	border: white solid;
	border-radius: 0 0 15px 15px;
	margin: 0;
	padding: 3%;
	width: 225px;
	background-color: white;
	color: black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.hotel_description .stars_icon{
	padding-top: 1%;
}
.stars_icon{
	font-size: 0.7em;
	display: flex;
}
/* ****fin section hebergement à Marseille****** */

/* ****debut aside****** */

.graph_icon{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	grid-area: h2;
	display: inline-flex;
	justify-content: space-between;
}
aside .populaire{
	grid-area: A;
	background-color: #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
}

.populaire{
	display: grid;
	background-color: #F2F2F2;
	border-radius: 15px;
	margin: 0;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 2.5%;
	grid-template-columns: 1fr;
	grid-template-rows: 25% 1fr 1fr 1fr;
	grid-template-areas: 
	"h2"
	"populaire_carte_contenair1"
	"populaire_carte_contenair2"
	"populaire_carte_contenair3";
}
#populaire_carte_contenair1{
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	grid-area: populaire_carte_contenair1 ;
	display: flex;
	justify-content: center;
	align-items: center;
}
#populaire_carte_contenair1 a{
	display: inline-flex;
}
#populaire_carte_contenair2 a{
	display: inline-flex;
}
#populaire_carte_contenair3 a{
	display: inline-flex;
}

#populaire_carte_contenair1:hover{
	box-shadow: 0 0 6px 3px darkgrey;
    transition: box-shadow 0.2s;
	border-radius: 15px 15px 15px 15px;
	margin: auto;
	padding: auto;
}
#populaire_carte_contenair1 i.fas{
	color: #0065FC;
}
#populaire_carte_contenair2 i.fas{
	color: #0065FC;
}
#populaire_carte_contenair3 i.fas{
	color: #0065FC;
}
.hotel_description i.fas{
	color: #0065FC;
}
.hebergement i.far{
	color:darkgray;
}
#populaire_carte_contenair2{
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	grid-area: populaire_carte_contenair2;
	display: flex;
	justify-content: center;
	align-items: center;
}
#populaire_carte_contenair2:hover{
	box-shadow: 0 0 6px 3px darkgrey;
    transition: box-shadow 0.2s;
	border-radius: 15px 15px 15px 15px;
	margin: auto;
	padding: auto;
}
#populaire_carte_contenair3{
	grid-column: 1 / 2;
	grid-row: 4 / 5;
	grid-area: populaire_carte_contenair3;
	display: flex;
	justify-content: center;
	align-items: center;
}
#populaire_carte_contenair3:hover{
	box-shadow: 0 0 6px 3px darkgrey;
    transition: box-shadow 0.2s;
	border-radius: 15px 15px 15px 15px;
	margin: auto;
	padding: auto;
}
.graph_icon{
	display: inline-flex;
	justify-content: space-between;
}
aside h2{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	justify-content: space-between;
	font-family: 'Raleway-Black', sans-serif;
	font-size: larger;
}
i.fa-chart-line{
	font-size: 1.3em;
	display: flex;

}
.description_pop{
	border-radius: 0px 15px 15px 0px;
	background-color: white;
	color: black;
	height: 140px;
	width: 150px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.details_pop{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 2%;
}
aside .stars_icon{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	padding-left: 2%;
}

.photo_populaire img{
	width: 130px;
	height: 140px;
	object-fit: cover;
	object-position: center;
	border-radius: 15px 0px 0px 15px;
	border: solid white 5px;
	margin: 0;
	padding-bottom: 0;
}

aside h3{
	font-family: 'Raleway-Black',sans-serif;
	font-size: 1em;
	color: black;
	margin: 0;
	padding: 0;
}
aside p{
	font-family: 'Raleway Light',sans-serif;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}
/* ****fin aside****** */

/* ****debut section activites à Marseille****** */
.activite_marseille_container{
	width: 100%;
	gap:1%;
	padding-right: 5%;
	padding-left: 5%;
	display: grid;
	padding-bottom: 10%;
	justify-content: center;
	align-items: flex-end;
	grid-template-columns: repeat(4, 20%);
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
	"h2 h2 h2 h2"
	"vieux_port fort_pomegues Parc_national Notre_dame"
	"vieux_port frioul Parc_national longchamp";
}


.activite_marseille_container h2{
	grid-area: h2;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	font-family: 'Raleway Medium';
	font-size:larger;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 0;
	margin: 0;
	padding: 0;
}
.gallery1{
	grid-area: vieux_port;
	grid-column: 1 / 2;
	grid-row: 2 / 4;
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	border-radius: 15px 15px 15px 15px;
	box-sizing: border-box;
	object-fit: cover;
	object-position: center;
	box-shadow: 0 0 6px 3px #b1b1b14b;
	width: 250px;
	height: 350px;
}
.gallery1:hover{
	box-shadow: 0 0 6px 3px darkgrey;
    transition: box-shadow 0.2s;
	border-radius: 15px 15px 15px 15px;
}
.gallery1 img{
	width: 250px;
	height: 350px;
	margin: 0;
	padding: 0;
}
.gallery2{
	grid-area: fort_pomegues;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	display: flex;
	justify-content: flex-end;
	margin:0;
	padding: 0;
	border-radius: 15px 15px 15px 15px;
	object-fit: cover;
	box-shadow: 0 0 6px 3px #b1b1b14b;
	box-sizing: border-box;
	width: 250px;
	height: 150px;
}
.gallery2:hover{
	box-shadow: 0 0 6px 3px darkgrey;
    transition: box-shadow 0.2s;
	margin: 0;
	padding: 0;
	border-radius: 15px 15px 15px 15px;
}
.gallery2 img{
	width: 250px;
	height: 150px;
	margin: 0;
	padding: 0;
}
.gallery3{
	grid-area: frioul;
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	display: flex;
	justify-content: flex-end;
	margin-top: 0;
	padding-top: 0;
	object-fit: cover;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0 0 6px 3px #b1b1b14b;
	width: 250px;
	height: 120px;
	
}
.gallery3:hover{
	box-shadow: 0 0 6px 3px darkgrey;
    transition: box-shadow 0.2s;
	margin: 0;
	padding: 0;
	border-radius: 15px 15px 15px 15px;
}
.gallery3 img{
	width: 250px;
	height: 120px;
	margin: 0;
	padding: 0;
}
.gallery4{
	grid-area: Parc_national;
	grid-column: 3 / 4;
	grid-row: 2 / span 4;
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding-top: 0;
	object-fit: cover;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0 0 6px 3px #b1b1b14b;
	width: 250px;
	height: 350px;
}
.gallery4:hover{
	box-shadow: 0 0 6px 3px darkgrey;
    transition: box-shadow 0.2s;
	margin: 0;
	padding: 0;
	border-radius: 15px 15px 15px 15px;
}
.gallery4 img{
	width: 250px;
	height: 350px;
	margin: 0;
	padding: 0;
}
.gallery5{
	grid-area: Notre_dame;
	grid-column: 4 / 5;
	grid-row: 2 / 3;
	display: flex;
	justify-content: flex-start;
	padding: 0;
	margin-bottom: 0;
	padding-top: 0;
	object-fit: cover;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0 0 6px 3px #b1b1b14b;
	width: 250px;
	height: 150px;
}
.gallery5:hover{
	box-shadow: 0 0 6px 3px darkgrey;
    transition: box-shadow 0.2s;
	margin: 0;
	padding: 0;
	border-radius: 15px 15px 15px 15px;
}
.gallery5 img{
	width: 250px;
	height: 150px;
	margin: 0;
	padding: 0;
}
.gallery6{
	grid-area: longchamp;
	grid-column: 4 / 5;
	grid-row: 3 / 4;
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	object-fit: cover;
	object-position: center;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0 0 6px 3px #b1b1b14b;
	width: 250px;
	height: 150px;
}
.gallery6:hover{
	box-shadow: 0 0 6px 3px darkgrey;
    transition: box-shadow 0.2s;
	margin: 0;
	padding: 0;
	border-radius: 15px 15px 15px 15px;
}
.gallery6 img{
	width: 250px;
	height: 150px;
	margin: 0;
	padding: 0;
}
#activite_marseille img{
	border-radius: 15px 15px 0 0;
	object-fit: cover;
	border: none;
	margin: 0;
	padding: 0;
}
.description_activite{
	font-family: 'Raleway Black';
	height: 45px;
	font-size: 0.7em;
	align-items: center;
	border: 1px #F2F2F2 solid;
	border: none;
	border-radius: 0 0 15px 15px;
	width: 220px;
}
#activite_marseille a{
	color: black;
}
#activite_marseille a:hover{
	color:#0065FC;
}

/* ****fin section activites à marseille****** */

/* *****************début footer**************** */

footer{
	width: 100%;
	padding-top: 0;
	padding-bottom: 5%;
	margin-bottom: 0;
	padding-left: 0%;
	padding-right: 0%;
	background-color: #F2F2F2;
}
/*.footer-nav-assistance{
	margin-right: 250px;
}*/
footer a{
	text-decoration: none;
	color:black;
}
footer a:hover{
	color: #0065FC;
}
footer a{
	font-size: 0.8em;
	font-family: 'Raleway Light',sans-serif;
}
footer h1{
	font-size: 1em;
	font-family: 'Raleway-Black',sans-serif;
	padding-top: 30px;
}
.footer-nav-contenair{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}

/* *****************fin footer****************** */

/*RESPONSIVE APPAREILS MOBILES*/
@media screen and (max-width: 425px){
	
	body
	{
	width:auto;
	}
	
	header{
		width: 100%;
		grid-template-columns: 100%;
		grid-template-rows: 1fr 15px 80px 40px;
		row-gap: 10px;
		margin: 0;
		padding: 0;
	}

	header img{
	width: 130px;
	height: 60px;
	margin-left: 10px;
	margin-top: 10px;
	display: inline-block;
	}
	.nav1{
		grid-column: 1 / 1;
		grid-row: 2 / 3;
		display: flex;
		justify-content: space-between;
		font-size: 1em;
	}
	#sign-in, #logo{
	display: block;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	}
	#sign-in{
		position: absolute;
		top: 2.2em; 
		right: 2em;
		font-size: 1em;
	}
	.group-nav{
		grid-row: 2 / 3;
		grid-column: 1 / 2;
		display:inline-flex;
		justify-content: center;
		align-items: center;
		border-bottom: #F2F2F2;
		width: 100%;
		padding-bottom: 20px;
		}
	.activites:hover{
		border-top: none;
		color: #0065FC;
		border-bottom: 2px solid #0065FC;
	}
	.hebergementnav:hover{
		border-top: none;
		color: #0065FC;
		border-bottom: 2px solid #0065FC;
	}

	.activites{
		width: 50%;
		text-align: center;
		display: inline-block;
		flex-wrap: wrap;
		align-items: center;
		border-bottom: #F2F2F2 solid 2px;
		padding-left: 30px;
		padding-bottom: 15px;
		padding: 65px 20px 10px 20px;
		
	}
	.hebergementnav{
		width: 50%;
		text-align: center;
		display: inline-block;
		align-items: center;
		border-bottom: #0065FC solid 2px;
		padding-right: 30px;
		padding-bottom: 15px;
		padding: 65px 20px 10px 20px;
	}

	header h1{
	text-align: start;
	padding-top: 45px;
	margin-left: 25px;
	margin-right: 10px;
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	flex-wrap: wrap;
	font-size: 1.5em;
	}
	header h2{
		padding-top: 40px;
		grid-column: 1 / 2;
		grid-row: 4 / 5;
		margin-left: 25px;
		margin-right: 10px;
		font-size: 1em;
		flex-wrap: wrap;
		text-align: start;
		align-items: flex-end;
		font-weight: 300;
	}
	
	.hebergementnav a:hover{
		color:#0065FC;
		font-weight: bold;
		border:none;
	}
	.activites a:hover{
		border:#0065FC;
	}
	.budget:hover{
		color:black;
		background-color:white;
		border:#0065FC solid 2px;
		font-weight:bold;
		cursor: pointer;
	}
	.composition:hover{
		color:black;
		background-color: white;
		border:#0065FC solid 2px;
		font-weight: bold;
		cursor: pointer;
	}
	.ambiance:hover{
		color:black;
		background-color:white;
		border:#0065FC solid 2px;
		font-weight: bold;
		cursor: pointer;
	}
	.animaux:hover{
		background-color:white;
		border:#0065FC solid 2px;
		color:black;
		font-weight: bold;
		cursor: pointer;
	}
	#bouton_filtres{
		background-color:#deebff;
		color: #0065FC;
		font-weight: bold;
		margin-right: 10px;
	}
	section .search_bare {
		padding-top: 50px;
		margin-left: 25px;
		margin-right: 10px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-auto-rows: auto;
		width: 100%;
	}

	.barre_recherche{
	grid-column: 1 / span 2;
	grid-row: 1 / 2;
	display: inline-flex;
	border: 2px solid #F2F2F2;
	border-radius: 10px 10px 10px 10px;
	align-items:center;
	text-align: center;
	justify-content: flex-start;
	width:auto;
	}
	input 
	{
		height: 40px;
		border: none;
		width: 200px;
		cursor: text;
		display: flex;
		text-align: start;
		padding-left: 20px;
	}
	input::placeholder{
		color: black;
		opacity: 1;
		display: flex;
		text-align: start;
		font-size: 1.2em;
	}
	input:focus{
		background-color:white;
	}
	.submit{
		display: none;
	}
	.button2{
		display: inline-block;
		align-items: center;
		text-align: center;
		border-radius: 10px 10px 10px 10px;
		font-weight: bold;
		font-size: 1em;
		height: 50px;
		width: 50px;
		background-color: #0065FC;
		color: white;
		border:none;
	}
	.button2:hover{
		box-shadow: 0 0 6px 3px darkgrey;
		font-weight: bold;
		font-size: 0.8em;
		transition: none;
		cursor: pointer;
	}	
	i.fa-map-marker-alt:hover{
		font-weight: none;
		color:black;
		background-color:#F2F2F2;
	}
	i.fa-map-marker-alt{
			background-color: #F2F2F2;
			border: #F2F2F2 solid;
			border-radius: 8px 0 0 8px;
			width: 44px;
			height: 40px;
			display: inline-flex;
			justify-content: center;
			align-items: center;		
		}
	section .filtres{
		display: grid;
		grid-template-columns:190px;
		grid-template-rows: 60px 60px 60px 60px 50px;
		row-gap: 3px;
		column-gap: 0;
		font-size: 1em;
		margin-left: 25px;
		margin-right: 80px;
		font-family: 'Raleway Medium',sans-serif;
	}

	#bouton_filtres{
		background-color: #deebff;
		height: 45px;
		width: 45px;
		border-radius: 50%;
		text-align: center;
		line-height: 45px;
		color: #0065FC;
		margin-right: 7px;
	}
	.budget{
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		height: 45px;
		align-items: center;
		justify-content: flex-start;
		border:solid #F2F2F2 2px;
		min-width: auto;
		max-width: 160px;
		border-radius: 30px 30px 30px 30px;
	}
	.composition{
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		height: 45px;
		display: flex;
		flex-wrap:nowrap;
		width: auto;
		align-items: center;
		justify-content: flex-start;
		border:solid #F2F2F2 2px;
		width: 130px;
		border-radius: 30px 30px 30px 30px;
	}
	.ambiance{
		grid-column: 1 / 2;
		grid-row: 3 / 4;
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		border:solid #F2F2F2 2px;
		min-width: auto;
		max-width: 160px;
		border-radius: 30px 30px 30px 30px;
	}
	.animaux{
		grid-column: 1 / 2;
		grid-row: 4 / 5;
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		border:solid #F2F2F2 2px;
		width: 205px;
		border-radius: 30px 30px 30px 30px;
	}
	section .room_available{
		grid-column: 1 / span 3;
		grid-row: 5 / 6;
		margin-left: 10px;
		margin-right: 0;
		display: inline-block;
		justify-content: flex-start;
		font-family: 'Raleway Thin',sans-serif;
		font-size: 0.9em;
	}
	i.fa-info-circle, .room_available p{
		display: inline-block;
	}
	i.fa-info-circle{
		display: inline-block;
		position: static;
	}
	.hebergement{
	display: grid;
	background-color: none;
	width:100%;
	height: auto;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 20px;
	flex-wrap: wrap;
	grid-auto-rows: auto;
	row-gap: 10px;
	grid-template-areas:
	"populaire"
	"hebergement";
	}
	.populaire{
		border-radius: 0px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 20px;
		grid-area: populaire;
		grid-column: 1 / 1;
		grid-row: 1 / 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width:auto;
		flex-wrap: wrap;
	}
	#populaire_carte_contenair1{
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		flex-wrap: wrap;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		
	}
	#populaire_carte_contenair2{
		grid-column: 1 / 2;
		grid-row: 3 / 4;
		flex-wrap: wrap;
		display: flex;
		justify-content:flex-start;
		align-items: flex-start;
		
	}
	#populaire_carte_contenair3{
		grid-column: 1 / 2;
		grid-row: 4 / 5;
		flex-wrap: wrap;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		
	}
	.description_pop{
		background-color: white;
		display: flex;
		flex-wrap: wrap;
		color: black;
		border: white 5px solid;
		height: 150px;
		width: auto;
		padding-right: 10px;
		margin: 0;
	}
	.photo_populaire img{
		width: 150px;
		height: 150px;
	}
	.hebergement_marseille_container{
		grid-area: hebergement;
		border-radius: 0px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width:auto;
		flex-wrap: wrap;
	}
	.hebergement_marseille_container{
		background-color: #F2F2F2;
		row-gap: 15px;
		width: 100%;
		height: auto;
		grid-template-columns: 1fr;
		grid-template-rows: 50px 1fr 1fr 30px 1fr 1fr 1fr 1fr;
		grid-template-areas: 
		"h2"
		"cannebiere"
		"port"
		"mouettes"
		"mer" 
		"panier"
		"amina"
		"following-sections";
	}
	.logement_carte{
		width: 150px;
	}
	.hebergement_marseille_container h2{
		font-family: 'Raleway-Black', sans-serif;
		grid-area: h2;
	}
	.next_section{
		grid-area: following-sections;
		font-family: 'Raleway',sans-serif;
		font-weight: bold;
	}
	#chez_amina{
		grid-area: amina;
	}
	#les_mouettes{
		grid-area: mouettes;
	}
	#la_cannebiere{
		grid-area: cannebiere;
	}
	#le_panier{
		grid-area: panier;
	}
	#le_port{
		grid-area: port;
	}
	#la_mer{
		grid-area: mer;
	}


}