@font-face {
    font-family: 'Raleway',sans-serif;
    src: url(Raleway-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;     
}
body
{
margin-left: 50px;
margin-right: 50px;
margin-top: 40px;
padding: 0;
}

header
{
	display: grid;
	grid-template-columns:800px 400px;
	grid-template-rows:1fr 1fr 25px 50px;
	
}

header h1
{
	grid-column: 1 / 1;
	grid-row: 3 / 3;
	font-family:'Raleway-Black',sans-serif;
	font-size: 1.2em;
}

header h3
{
	grid-column: 1 / 2;
	grid-row: 4 / 4;
	font-family:'Raleway Thin',sans-serif;
	font-size: 0.9em;
	padding-bottom: 60px;
}
.nav1, #logo
{
	display: inline-block;
	vertical-align: top;
}

.nav1
{
grid-column: 2 / 3;
grid-row: 1 / 2;
display: flex;
justify-content: space-around;
font-size: 1em;
font-family: 'Raleway Light',sans-serif;
}
.nav1 a{
	text-decoration: none;
}
.hebergement a{
	color: black;
}
.activites a{
	color: black;
}
.inscription a{
	color: #0065FC;
	font-family: 'raleway bold',sans-serif;
}
.inscription a:hover{
    text-decoration:underline;
	border-bottom: 1px solid #0065FC;
}

.hebergement a:hover{
	color: #0065FC;
	border-top: 2px solid;
	padding-top: 20px;
	font-weight: bold;
}
.activites a:hover{
	color: #0065FC;
	border-top: 2px solid;
	padding-top: 20px;
	font-weight: bold;
}

.budget:hover{
	color:white;
	background-color:#0065FC;
	font-weight:bold;
}
.composition:hover{
	color:white;
	background-color:#0065FC;
	font-weight: bold;
}
.ambiance:hover{
	color:white;
	background-color:#0065FC;
	font-weight: bold;
}
.animaux:hover{
	background-color:#0065FC;
	color:white;
	font-weight: bold;
}
#bouton_filtres:hover{
	background-color: #0065FC;
	color: white;
	font-weight: bold;
}

section .search_bare
{
	display: grid;
	grid-template-columns: 800px 1fr;
	grid-template-rows: 12fr;
	grid-auto-rows: auto;
}
	
.barre_recherche
{
	display: inline-flex;
	border: 1px solid #F2F2F2;
	height: 40px;
	border-radius: 10px 10px 10px 10px;
	align-items:center;
	justify-content: flex-start;
}
.barre_recherche i.fas{
	background-color: #F2F2F2;
	border: #F2F2F2 solid;
	border-radius: 8px 0 0 8px;
	width: 40px;
	height: 36px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
			
}
input 
{
	text-align: center;
	font-family: 'Raleway Medium',sans-serif;
	color: black;
	border: none;
	font-size: 0.9em;
	height: 40px;
}
input:focus{
	background-color: #deebff;
}
button
{
	border-radius: 0 10px 10px 0;
	font-family: 'Raleway-light',sans-serif;
	font-size: 0.9em;
	height: 40px;
	background-color: #0065FC;
	color: white;
	border:none;
}
button:hover{
	box-shadow: 0 0 6px 3px darkgrey;
    transition: box-shadow 0.2s;
}

i.fa-map-marker-alt:hover{
	font-weight: bold;
	color: darkgrey;
	background-color: white;
}

section .filtres{
	display: grid;
	grid-template-columns: 80px 200px 150px 200px 230px;
	grid-template-rows: 1fr 1fr;
	column-gap: 20px;
	
}

.filtres{
	grid-column: 1 / span 6;
	grid-row: 1 / 2;
	font-family: 'Raleway semibold',sans-serif;
	display:inline-flex;
	margin-top: 25px;
	align-items: center;
}
.filtres h1{
	font-size: 1em;
}
#bouton_filtres{
	background-color: #deebff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #0065FC;
}

.budget{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	border:solid #F2F2F2 2px;
	min-width: auto;
	max-width: 200px;
	border-radius: 30px 30px 30px 30px;
}
.composition{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	border:solid #F2F2F2 2px;
	min-width: auto;
	max-width: 200px;
	border-radius: 30px 30px 30px 30px;
}
.ambiance{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	border:solid #F2F2F2 2px;
	min-width: auto;
	max-width: 200px;
	border-radius: 30px 30px 30px 30px;
}
.animaux{
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
	border:solid #F2F2F2 2px;
	min-width: auto;
	max-width: 200px;
	border-radius: 30px 30px 30px 30px;
}

section .room_available{
	grid-column: 1 / span 5;
	grid-row: 2 / 3;
	display: inline-block;
	font-family: 'Raleway Thin',sans-serif;
	font-weight: bold;
	padding-top: 20px;
}
.room_available p{
	position: relative;
	left: 8px;
}
i.fa-info-circle{
	border: 1px solid grey;
	font-size: 1.4em;
    border-radius: 50%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
    text-align: center;
    color:white;
	background-color:#0065FC;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}
i.fa-info-circle, .room_available p{
	display: inline-block;
}

section .HEBERGEMENT{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}
aside{
	grid-column: 4 / 5;
}
.hebergement_marseille_container{
	background-color:#F2F2F2;
}
.logement-carte{
width: 250px;
height: 110px;
object-fit: cover;
border: 5px white solid;
border-bottom: white 5px solid;
border-radius: 15px 15px 0px 0px;
background-color: white;
}

.hotel_description p, .price{
	display: inline-block;
}
span{
	font-family: 'Raleway-Black',sans-serif;
	font-size: 0.9em;
}
section a{
	text-decoration:none;
}
section a:hover{
color: #0065FC;
}
.hotel_description:hover{
color: #0065FC;
font-weight: bold;
}

.hebergement_marseille_container h2{
	font-family: 'Raleway-Black', sans-serif;
	font-size:larger;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
aside h2{
	grid-column: 4 / 5;
	grid-row: 1 / 2;
	font-family: 'Raleway-Black', sans-serif;
	font-size:larger;
	display:inline-flex;
	justify-content: flex-start;
}
aside .graph_icon{
	grid-column: 4 / 5;
	grid-row: 1 / 2;
	display:inline-flex;
	justify-content: flex-end;
	position:relative;
	left:10%;
}
#soleil_matin{
	grid-column: 4 / 5;
	grid-row: 2 / 3;
}
#coeur_eau{
	grid-column: 4 / 5;
	grid-row: 3 / 4;
}
#bleu_blanc{
	grid-column: 4 / 5;
	grid-row: 4 /5;
}
.logement-carte-container img, .hotel_description{
	display: block;
}

.hotel_description h3{
	font-family: 'Raleway-Black',sans-serif;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}
.hotel_description p{
	font-family: 'Raleway Light',sans-serif;
	margin: 0;
	padding: 0;
	font-size: 0.7em;
	color: black;
}
.hotel_description{
	border: white solid;
	border-radius: 0 0 15px 15px;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 5px;
	padding-left: 10px;
	width: 245px;
	background-color: white;
	color: black;
	display: flex;
	flex-direction: column;
}
.hotel_description .stars_icon{
	padding-top: 5px;
}
.hebergement_marseille img, .hotel_description{
	display: block;
}
.stars_icon{
	font-size: 0.7em;
}

.photo_populaire img{
		width: 150px;
		height: 150px;
		object-fit: cover;
		border-radius: 15px 0px 0px 15px;
}
aside h3{
	font-family: 'Raleway Black',sans-serif;
	font-size: 0.9em;
	color: black;
}
.description_pop{
	border: white 3px solid;
	border-radius: 15px 15px 15px 15px;
	background-color: white;
	flex-wrap: wrap;
	font-family: 'raleway Light',sans-serif;
	font-size: 0.7em;
	color: black;
}

aside .stars_icon{
display: inline-block;
}

.activite_marseille{
	margin-top: 800px;
}


